@model StarSecurityServices.Areas.Customer.ViewModels.BranchRegionViewModel

@{ ViewData["Title"] = "Index";
    Layout = "~/Areas/Customer/Views/Shared/_LayoutBranch.cshtml"; }

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
      integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
      crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
        integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
        crossorigin=""></script>

<div class="breadcrumb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="breadcrumb-text">
                    <h1>OUR NETWORK</h1>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div>
        @foreach (var region in Model.Regions)
        {
            <div class="region-title">@region.Name</div>
            <div class="branch-list row">
                @foreach (var item in Model.Branches)
                {
                    @if (item.RegionId == region.Id)
                    {
                        <div class="col-md-4">
                            <div style="display: none;" class="branch-position">@item.GetDetailLatLong()</div>

                            <div class="branch-name">
                                <b>@Html.DisplayFor(modelItem => item.Name)</b>
                            </div>
                            <div class="address">
                                <i class="mdi mdi-map-marker"></i>
                                @Html.DisplayFor(modelItem => item.Address)
                            </div>
                            <div class="contact">
                                <i class="mdi mdi-phone"></i>
                                @Html.DisplayFor(modelItem => item.Phone)
                                </div>
                        </div>
                    }
                }
            </div>
         }
    </div>

    <h2 class="mt-5">Find us on map</h2>
    <div id="map" style="height:500px;"></div>
</div>

<!-- Leaflet JS -->
<script src="~/js/leafletjs/leaflet-utils.js"></script>
<script>
    const map = new Leaflet("map");
    map.displayMarkers(map.getMakerData());
</script>