@using System.Globalization
@model StarSecurityServices.Models.Branch

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutBranch.cshtml";
}

<div class="col-lg-12">
    <h2>Delete</h2>
    <h5>Are you sure you want to delete this Branch?</h5>
    <hr />
</div>

<div class="col-lg-12 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <div>
                <dl class="row">
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Name)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Address)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Address)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Phone)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Phone)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Description)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Description)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Latitude)
                    </dt>
                    <dd class="col-sm-10">
                        @{var latitude = Model.Latitude.ToString(CultureInfo.CurrentCulture);}
                        @Html.DisplayFor(model => latitude)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Longtitude)
                    </dt>
                    <dd class="col-sm-10">
                        @{var longtitude = Model.Longtitude.ToString(CultureInfo.CurrentCulture);}
                        @Html.DisplayFor(model => longtitude)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.Region)
                    </dt>
                    <dd class="col-sm-10">
                        @Html.DisplayFor(model => model.Region.Name)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.CreatedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @{var createdDate = Model.CreatedOn.ToLocalTime()
                                            .ToString(
                                            CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern
                                            + " "
                                            + CultureInfo.CurrentUICulture.DateTimeFormat.LongTimePattern);
                        }
                        @Html.DisplayFor(model => createdDate)
                    </dd>
                    <dt class="col-sm-2">
                        @Html.DisplayNameFor(model => model.UpdatedOn)
                    </dt>
                    <dd class="col-sm-10">
                        @{var updatedDate = Model.UpdatedOn.ToLocalTime()
                                              .ToString(
                                              CultureInfo.CurrentUICulture.DateTimeFormat.ShortDatePattern
                                              + " "
                                              + CultureInfo.CurrentUICulture.DateTimeFormat.LongTimePattern);
                        }
                        @Html.DisplayFor(model => updatedDate)
                    </dd>
                </dl>

                <div class="d-flex flex-row action-list">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="Id" />
                        <input type="submit" value="Delete" class="btn btn-danger" />
                        <button class="btn btn-dark" asp-action="Index">Back to List</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
